PROPERTYQUARRY_PUBLIC_BASE_URL=https://propertyquarry.com
PROPERTYQUARRY_PUBLIC_HOSTS=propertyquarry.com,www.propertyquarry.com
PROPERTYQUARRY_DEFAULT_BRAND=1
EA_PUBLIC_APP_BASE_URL=https://propertyquarry.com
EA_RUNTIME_MODE=prod
POSTGRES_PASSWORD=
DATABASE_URL=
EA_API_TOKEN=
EA_SIGNING_SECRET=
EA_CF_ACCESS_TEAM_DOMAIN=
EA_CF_ACCESS_AUD=
EA_CF_ACCESS_CERTS_URL=
EA_GOOGLE_OAUTH_REDIRECT_URI=https://propertyquarry.com/v1/providers/google/oauth/callback
PROPERTYQUARRY_CF_TUNNEL_TOKEN=
COMPOSE_PROJECT_NAME=propertyquarry
PROPERTYQUARRY_API_SERVICE=propertyquarry-api
PROPERTYQUARRY_WORKER_SERVICE=propertyquarry-worker
PROPERTYQUARRY_SCHEDULER_SERVICE=propertyquarry-scheduler
PROPERTYQUARRY_DB_SERVICE=propertyquarry-db
PROPERTYQUARRY_WORKER_PROFILE=property_only
PROPERTYQUARRY_SCHEDULER_PROFILE=property_only
PROPERTYQUARRY_PUBLIC_RATE_LIMIT_DIR=
PROPERTYQUARRY_TRUST_X_FORWARDED_FOR=0
PROPERTYQUARRY_ENABLE_PUBLIC_SIDE_SURFACES=0
PROPERTYQUARRY_ENABLE_PUBLIC_RESULTS=0
PROPERTYQUARRY_ENABLE_PUBLIC_TOURS=0
PROPERTYQUARRY_ENABLE_PUBLIC_MEMORIALS=0
PROPERTYQUARRY_ENABLE_LEGACY_RUNTIME_SURFACES=0
PROPERTYQUARRY_FASTESTVPN_COMPOSE_ROOT=/docker/property
PROPERTYQUARRY_FASTESTVPN_ON_DEMAND_ENABLED=1
PROPERTYQUARRY_FASTESTVPN_AUTO_STOP_AFTER_REFRESH=1
EMAILIT_API_KEY=
EA_REGISTRATION_EMAIL_FROM=property@propertyquarry.com
EA_REGISTRATION_EMAIL_NAME=PropertyQuarry
EA_REGISTRATION_EMAIL_FROM_FALLBACK=
EA_REGISTRATION_EMAIL_NAME_FALLBACK=PropertyQuarry
EA_REGISTRATION_EMAIL_FORCE_FALLBACK=0
PAYFUNNELS_API_KEY=
PAYFUNNELS_WEBHOOK_SECRET=
PAYFUNNELS_PLUS_CHECKOUT_URL=
PAYFUNNELS_AGENT_CHECKOUT_URL=
PAYPAL_CLIENT_ID=
PAYPAL_SECRET=
PAYPAL_ACCOUNT_EMAIL=
EA_CREZLO_LOGIN_EMAIL=
EA_CREZLO_LOGIN_PASSWORD=
UNMIXR_USERNAME=
UNMIXR_PASSWORD=
UNMIXR_API_KEY=
UNMIXR_VOICE_ID=
UNMIXR_LANGUAGE=en-US
UNMIXR_SPEAKING_RATE=medium
UNMIXR_SPEAKING_PITCH=low
UNMIXR_SPEAKING_VOLUME=medium
