PROPERTYQUARRY_PUBLIC_BASE_URL=https://propertyquarry.com
PROPERTYQUARRY_PUBLIC_HOSTS=propertyquarry.com,www.propertyquarry.com
PROPERTYQUARRY_DEFAULT_BRAND=1
PROPERTYQUARRY_CF_TUNNEL_TOKEN=
COMPOSE_PROJECT_NAME=propertyquarry
PROPERTYQUARRY_ENABLE_PUBLIC_SIDE_SURFACES=0
PROPERTYQUARRY_ENABLE_PUBLIC_RESULTS=0
PROPERTYQUARRY_ENABLE_PUBLIC_TOURS=0
PROPERTYQUARRY_ENABLE_PUBLIC_MEMORIALS=0
PROPERTYQUARRY_ENABLE_LEGACY_RUNTIME_SURFACES=0
PROPERTYQUARRY_FASTESTVPN_COMPOSE_ROOT=/docker/property
PROPERTYQUARRY_FASTESTVPN_ON_DEMAND_ENABLED=1
PROPERTYQUARRY_FASTESTVPN_AUTO_STOP_AFTER_REFRESH=1
PAYFUNNELS_API_KEY=
PAYFUNNELS_WEBHOOK_SECRET=
PAYPAL_CLIENT_ID=
PAYPAL_SECRET=
PAYPAL_ACCOUNT_EMAIL=
